<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="/assets/css/animations.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
        <script src="/assets/js/vendor/html5shiv.min.js"></script>
        <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lt IE 9]>
        <div class="bg-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

<div id="box_wrapper">

    <section id="topline" class="table_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="./" class="logo top_logo">
                        <img src="/assets/example/logo.png" alt="">
                        <strong>Meriada</strong>Pro
                    </a>
                </div>

                <div class="col-sm-6">
                    <p id="social" class="text-sm-right">
                        <a class="socialico-facebook" href="#" title="Facebook">#</a><a class="socialico-twitter" href="#" title="Twitter">#</a><a class="socialico-google" href="#" title="Google">#</a><a class="socialico-linkedin" href="#" title="LinkedIn">#</a><a class="socialico-dribble" href="#" title="Dribble">#</a>
                    </p>
            
                </div>
                    
                
            </div>
        </div>
    </section>

    <section id="mainslider" class="darkgrey_section action_section">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/assets/example/slide01.jpg" alt="">
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <p data-animation="fadeInLeft">Meriada Pro Presents:</p>

                            <h3 data-animation="fadeInLeft">
                                <strong>
                                    <span class="highlight">Everything</span> You
                                </strong> Need<br>
                                Unique <strong>&amp; Flexible</strong>
                            </h3>

                        </div>
                    </div> 
                </li>
                <li>
                    <img src="/assets/example/slide02.jpg" alt="">
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <p data-animation="expandUp">Meriada Pro Presents:</p>

                            <h3 data-animation="fadeInLeft">
                                <strong>
                                    <span class="highlight">We</span> Generate
                                </strong> Most<br>
                                Creative <strong> Ideas</strong>
                            </h3>

                        </div>
                    </div> 
                </li>
                <li>
                    <img src="/assets/example/slide03.jpg" alt="">
                    <div class="slide_description_wrapper">
                        <div class="slide_description">
                            <p data-animation="expandUp">Meriada Pro Presents:</p>

                            <h3 data-animation="fadeInLeft">
                                <strong>
                                    <span class="highlight">Innovate</span> Template
                                </strong> Most<br>
                                Designed <strong> with</strong> Love
                            </h3>

                        </div>
                    </div> 
                </li>
            </ul>
        </div>
        
        <div id="mainslider_includes" class="container">
            <div class="row">
                <div class="col-md-6 to_animate">
                    <div class="small_post">
                        <a class="media-left media-middle" href="blog-single-right.html">
                            <i class="rt-icon-pen2"></i>
                        </a>
                        <time class="media-left media-middle" datetime="2014-09-26T15:05:23+00:00">
                            <strong>Nov 10</strong> 2014
                        </time>
                        <a class="media-left media-middle" href="blog-right.html">
                            <img src="/assets/example/team/01.jpg" alt="">
                        </a>
                        <div class="media-body media-middle">
                            <em class="media-heading">Written by:
                                <strong>
                                    <a href="blog-right.html">Daniel Willis</a>
                                </strong>
                            </em>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-md-6 to_animate">
                    <div id="gallery-small-carousel">
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/02.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/03.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/04.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/05.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="gallery-single.html">
                                <img src="/assets/example/team/02.jpg" alt="">
                            </a>
                        </div>
                    </div>
            
                </div>
            </div>
        </div>
    </section>

    <header id="header" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav id="mainmenu_wrapper">
                        <ul id="mainmenu" class="nav sf-menu">
                            <li class="active">
                                <a href="#box_wrapper">Home</a>
                                <ul>
                                    <li>
                                        <a href="index.html">Index 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">Index 2</a>
                                    </li>
                                    <li>
                                        <a href="index3.html">Index 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#folio">Folio</a>
                            </li>
                            <li>
                                <a href="#blog">Blog</a>
                            </li>
                            <li>
                                <a href="#features">Features</a>
                            </li>
                            
                            <li>
                                <a href="about.html">Pages</a>
                                <ul>
                                    <li>
                                        <a href="about.html">About</a>
                                    </li>
                                    <li>
                                        <a href="events.html">Events</a>
                                        <ul>
                                            <li>
                                                <a href="events.html">Events</a>
                                            </li>
                                            <li>
                                                <a href="event-single.html">Single Event</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="team-single.html">Team Member</a>
                                    </li>
                                    <li>
                                        <a href="404.html">404</a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">Folio</a>
                                        <ul>
                                            <li>
                                                <a href="gallery.html">Folio 1</a>
                                            </li>
                                            <li>
                                                <a href="gallery2.html">Folio 2</a>
                                            </li>
                                            <li>
                                                <a href="gallery3.html">Folio 3</a>
                                            </li>
                                            <li>
                                                <a href="gallery-single.html">Single Item</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog-right.html">Blog</a>
                                        <ul>
                                            <li>
                                                <a href="blog-right.html">Blog</a>
                                                <ul>
                                                    <li>
                                                        <a href="blog-right.html">Blog With Right Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-left.html">Blog With Left Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-full.html">Blog Full Width</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="blog-grid.html">Blog Grid</a>
                                            </li>
                                            <li>
                                                <a href="blog-single-right.html">Blog Post</a>
                                                <ul>
                                                    <li>
                                                        <a href="blog-single-right.html">Post With Right Sidebar</a>
                                                    </li>
                                                    <li>
                                                        <a href="blog-single-left.html">Post With Left Sidebar</a>
                                                    </li>
                                                     <li>
                                                        <a href="blog-single-full.html">Post Full Width</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shortcodes.html">Features</a>
                                        <ul>
                                            <li>
                                                <a href="shortcodes.html">Shortcodes&amp;Widgets</a>
                                            </li>
                                            <li>
                                                <a href="animation.html">Animation</a>
                                            </li>
                                            <li>
                                                <a href="icons.html">Icons</a>
                                            </li>
                                        </ul>
                                    </li>                              
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>

                                </ul> 
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>  
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- header toggler -->    
    <span id="toggle_menu"><span></span></span>    

    <section id="features" class="light_section">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-sm-3 to_animate" data-animation="fadeInLeft">

                    <div class="square_teaser">
                        <i class="rt-icon-user3"></i>
                        <h4>
                            <a href="#"><strong>Easy</strong> Customize</a>
                        </h4>
                        <p>Duiautem eumre dolor hendrerit <br>
                            vulputate velit esse molestie.</p>
                    </div>

                </div>

                <div class="col-sm-3 to_animate" data-animation="fadeInLeft">

                    <div class="square_teaser">
                        <i class="rt-icon-bulb"></i>
                        <h4>
                            <a href="#"><strong>Unique</strong> Design</a>
                        </h4>
                        <p>Consequat, vel illum dolore eu feugiat<br>
                         nulla facilisis at vero.</p>
                    </div>

                </div>

                <div class="col-sm-3 to_animate" data-animation="fadeInLeft">

                    <div class="square_teaser">
                        <i class="rt-icon-wallet"></i>
                        <h4>
                            <a href="#"><strong>Retina</strong> Ready</a>
                        </h4>
                        <p>Eros et accumsusto odio dignissim qui <br>
                         blandit praesent.</p>
                    </div>

                </div>

                <div class="col-sm-3 to_animate" data-animation="fadeInLeft">

                    <div class="square_teaser">
                        <i class="rt-icon-wallet"></i>
                        <h4>
                            <a href="#"><strong>24/7</strong> Support</a>
                        </h4>
                        <p>Eros et accumsusto odio dignissim qui <br>
                            blandit praesent.</p>
                    </div>

                </div>

            </div>

        </div>
    </section>

<section class="grey_section bg_image table_section">
    <div id="team_carousel">
        <div class="item">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4 col-md-offset-2">
                        <h3>
                            <strong>Jennifer</strong> Anderson
                        </h3>
                        <p class="highlight">
                            Manager, Microsoft
                        </p>
                        <blockquote>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitsed diam nonumy eirmod tempor invidunt erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                        </blockquote>

                        <img src="/assets/example/teamslide01_signature.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/example/teamslide01.png" alt="">
                    </div>

                    
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4 col-md-offset-2">
                        <h3>
                            <strong>Samantha</strong> Smith
                        </h3>
                        <p class="highlight">
                            Web Developer, Apple
                        </p>
                        <blockquote>
                            Lorem ipsum dolor diam nonumy eirmod tempor invidunt ut labore et dolore magna ayam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                        </blockquote>

                        <img src="/assets/example/teamslide02_signature.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/example/teamslide02.png" alt="">
                    </div>

                    
                </div>
            </div>
        </div>

        <div class="item">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <h3>
                            <strong>William</strong> Riley
                        </h3>
                        <p class="highlight">
                            Sales Manager, Samsung
                        </p>
                        <blockquote>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitsed diam nonumy eirmod tempor invidunt ut labore et ayam erat, justo duo dolores et ea rebum. Stet clita kasd gubergren.
                        </blockquote>

                        <img src="/assets/example/teamslide03_signature.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/example/teamslide03.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="folio" class="light_section bottom_section gallery">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section_header text-center"><strong>Our</strong> Gallery</h2>

                <div id="isotope_filters">
                    <a href="#" data-filter="*" class="selected">Show All</a>
                    <a href="#" data-filter=".webdesign">Web Design</a>
                    <a href="#" data-filter=".development">Development</a>
                    <a href="#" data-filter=".photography">Photography</a>
                    <a href="#" data-filter=".programming">Programming</a>
                </div>

                <div id="isotope_container" class="isotope row masonry-layout to_animate">
                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 webdesign photography">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/01.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/01.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-6 col-md-6 col-sm-6 photography webdesign">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/02.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/02.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-big-item-description">
                            <a class="display_table_cell" href="gallery-single.html">
                                <i class="rt-icon-search3"></i>
                            </a>
                            <div class="display_table_cell big-item-description">
                                <h3>
                                    <a href="gallery-single.html">Young female passenger</a>
                                </h3>
                                <p>Lorem ipsudolor consetetur sadipscing elitr sed diam nonumy tempor...</p>
                            </div>
                            <div class="display_table_cell big-item-social">
                                <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                                <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                                <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                            </div>
                            
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 development">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/03.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/03.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 development">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/04.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/04.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 webdesign">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/05.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/05.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 photography">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/06.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/06.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                           
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 development programming">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/07.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/07.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 programming">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/08.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/08.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                    <div class="isotope-item gallery-item col-lg-3 col-md-6 col-sm-6 programming">
                        <div class="gallery-image">
                            <img src="/assets/example/gallery/12.jpg" alt="">
                            <div class="gallery-image-links">
                                <a class="p-view prettyPhoto " title="" data-gal="prettyPhoto[gal]" href="/assets/example/gallery/12.jpg"></a>
                                <a class="p-link" title="" href="gallery-single.html"></a>
                            </div>
                        </div>
                        <div class="gallery-item-description">
                            <h3><a href="gallery-single.html">Lorem Ipsum Dolor</a></h3>
                            <p class="gallery-meta"><a href="portfolio.html">Media</a>, <a href="portfolio.html">Web design</a></p>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="grey_section action_section table_section bg_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 to_animate" data-animation="pullDown">
                <h3><strong>Like this theme?</strong> Get your copy of this great theme now!</h3>
            </div>
            <div class="col-sm-4 to_animate" data-animation="pullDown">
                <a href="#" class="theme_button inverse">View Features</a>
                <a href="#" class="theme_button">Buy This Theme</a>
            </div>
            
        </div>
    </div>
</section>

<section id="services" class="light_section action_section parallax">
    <div class="container">
        <div class="row">
            

            <div class="col-md-5 to_animate">
                <h2>Check Our</h2>
                <h2 class="section_header big">
                    <span class="highlight">
                        <strong>Services</strong>
                    </span>
                </h2>

                <div class="side_teaser_small media" data-animation="fadeInLeft">
                    <div class="media-left">
                        <i class="rt-icon-pen2 highlight"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="#"><strong>Web</strong> Design</a>
                        </h3>
                        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod</p>
                    </div>
                </div>
                <div class="side_teaser_small media" data-animation="fadeInLeft">
                    <div class="media-left">
                        <i class="fa fa-code highlight"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="#"><strong>Pure</strong> Code</a>
                        </h3>
                        <p>Tempor invidunt ut labore et dolore magna</p>
                    </div>
                </div>
                <div class="side_teaser_small media" data-animation="fadeInLeft">
                    <div class="media-left">
                        <i class="rt-icon-lab2 highlight"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="#"><strong>CEO</strong> Research</a>
                        </h3>
                        <p>At vero eos et accusam et justo duo dolores rebum</p>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>

<section id="progress" class="dark_section parallax">
    <div class="container">
        
        <div class="side_teaser table_section to_animate" data-animation="stretchRight">
            <div class="row">
                <div class="col-sm-5">
                    <h3 class="counter text-md-right" data-from="0" data-to="42854" data-speed="1800">0</h3>
                    <h4 class="text-md-right">Happy Clients</h4>
                </div>

                <div class="col-sm-1 text-center">
                    <i class="rt-icon-like"></i>
                </div>

                <div class="col-sm-5">
                    <p>Consetetur sadipscing elitr diam nonumy eirmod tempor.</p>
                </div>
            </div>
        </div>

        <div class="side_teaser table_section to_animate" data-animation="stretchLeft">
            <div class="row">
                <div class="col-sm-5">
                    <p class="text-md-right">
                        Invidunt ut labore et dolore magna aliquyam erat.
                    </p>
                </div>

                <div class="col-sm-1 text-center">
                    <i class="rt-icon-display"></i>
                </div>

                <div class="col-sm-5">
                    <h3 class="counter" data-from="0" data-to="3568" data-speed="1800">0</h3>
                    <h4>Projects Made</h4>
                </div>
            </div>
        </div>

 
        <div class="side_teaser table_section to_animate" data-animation="stretchRight">
            <div class="row">
                <div class="col-sm-5">
                    <h3 class="counter text-md-right" data-from="0" data-to="134672" data-speed="1800">0</h3>
                    <h4 class="text-md-right">Comments</h4>
                </div>

                <div class="col-sm-1 text-center">
                    <i class="rt-icon-bubble"></i>
                </div>

                <div class="col-sm-5">
                    <p>
                        Ut labore et dolore magna aliquyam erat, sed diam voluptua vero eos et accusam et justo.
                    </p>
                </div>
            </div>
        </div>

 
        <div class="side_teaser table_section to_animate" data-animation="stretchLeft">
            <div class="row">
                <div class="col-sm-5">
                    <p class="text-md-right">
                        Duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
                    </p>
                </div>

                <div class="col-sm-1 text-center">
                    <i class="rt-icon-mail2"></i>
                </div>
                
                <div class="col-sm-5">
                    <h3 class="counter" data-from="0" data-to="21249" data-speed="1800">0</h3>
                    <h4>Letters Sent</h4>
                </div>
            </div>
        </div>
     
    </div>
</section>

<section id="blog" class="grey_section bg_image">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 to_animate">
                <h2 class="section_header text-center"><strong>Latest</strong> from the Blog</h2>
            </div>
        </div>
        <div class="row">
            <div id="from-blog-widget" data-prev-text="prev" data-next-text="next" class="to_animate">
                <div class="item">
                    <div class="blog-item">
                        <img src="/assets/example/gallery/15.jpg" alt="">
                        <div class="blog-author-meta">
                            <a href="blog-right.html" class="media-left">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                            <div class="media-left">
                                <p class="media-heading">
                                    November 12 ‘14
                                </p>
                                <p class="from-blog-author">
                                    <strong>
                                        <a href="blog-right.html">Michael Johnson</a>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <h3>
                            <a href="blog-single-right.html">Duis autem veleum</a>
                        </h3>
                    </div>
                </div>

                <div class="item">

                    <div class="blog-item">
                        <img src="/assets/example/gallery/02.jpg" alt="">
                        <div class="blog-author-meta">
                            <a href="blog-right.html" class="media-left">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                            <div class="media-left">
                                <p class="media-heading">
                                    November 12 ‘14
                                </p>
                                <p class="from-blog-author">
                                    <strong>
                                        <a href="blog-right.html">Michael Johnson</a>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <h3>
                            <a href="blog-single-right.html">Duis autem veleum</a>
                        </h3>
                    </div>
                    
                </div>

                <div class="item">

                    <div class="blog-item">
                        <img src="/assets/example/gallery/03.jpg" alt="">
                        <div class="blog-author-meta">
                            <a href="blog-right.html" class="media-left">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                            <div class="media-left">
                                <p class="media-heading">
                                    November 12 ‘14
                                </p>
                                <p class="from-blog-author">
                                    <strong>
                                        <a href="blog-right.html">Michael Johnson</a>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <h3>
                            <a href="blog-single-right.html">Duis autem veleum</a>
                        </h3>
                    </div>
                    
                </div>

                <div class="item">

                    <div class="blog-item">
                        <img src="/assets/example/gallery/04.jpg" alt="">
                        <div class="blog-author-meta">
                            <a href="blog-right.html" class="media-left">
                                <img src="/assets/example/team/01.jpg" alt="">
                            </a>
                            <div class="media-left">
                                <p class="media-heading">
                                    November 12 ‘14
                                </p>
                                <p class="from-blog-author">
                                    <strong>
                                        <a href="blog-right.html">Michael Johnson</a>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <h3>
                            <a href="blog-single-right.html">Duis autem veleum</a>
                        </h3>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-12 to_animate">
                <p class="text-center divider40">
                    <a href="blog-right.html" class="theme_button">View All Posts</a>
                </p>
                <hr>
            </div>
            <div class="col-sm-12 to_animate" data-animation="fadeInDown">
                <blockquote class="blockquote-big">
                    At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren no sea takimata.
                    <h3>
                        <span class="highlight">Lynda May,</span> Manager
                    </h3>
                </blockquote>
            </div>
                

        </div>
        
    </div>
</section>

<section id="team" class="light_section bottom_section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate">
                <h2 class="section_header">
                    <strong>About</strong> company
                </h2>
                <p>Meet our members</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 to_animate" data-animation="fadeInLeft">
                <div class="team-item left-side-item">
                    <div class="team-item-image">
                        <img src="/assets/example/team/01.jpg" alt="">
                    </div>
                    <div class="team-item-description">
                        <h3>
                            Daniel Willis
                        </h3>
                        <p class="team-job">
                            <span class="highlight">Fonder, Director</span>
                        </p>
                        <p>Namliber tempor cum soluta nobis eleifend option.</p>

                        <p class="social-icons">
                            <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                            <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                        </p>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-sm-6 to_animate" data-animation="fadeInRight">
                <div class="team-item right-side-item">
                    <div class="team-item-image">
                        <img src="/assets/example/team/02.jpg" alt="">
                    </div>
                    <div class="team-item-description">
                        <h3>
                            Bill  Anderson
                        </h3>
                        <p class="team-job">
                            <span class="highlight">Web Developer</span>
                        </p>
                        <p>Namliber tempor cum soluta nobis eleifend option.</p>

                        <p class="social-icons">
                            <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                            <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                        </p>
                    </div>
                    
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 to_animate" data-animation="fadeInLeft">
                <div class="team-item left-side-item">
                    <div class="team-item-image">
                        <img src="/assets/example/team/03.jpg" alt="">
                    </div>
                    <div class="team-item-description">
                        <h3>
                            Jason Edyson
                        </h3>
                        <p class="team-job">
                            <span class="highlight">Fonder, Director</span>
                        </p>
                        <p>Namliber tempor cum soluta nobis eleifend option.</p>

                        <p class="social-icons">
                            <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                            <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                        </p>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-sm-6 to_animate" data-animation="fadeInRight">
                <div class="team-item right-side-item">
                    <div class="team-item-image">
                        <img src="/assets/example/team/04.jpg" alt="">
                    </div>
                    <div class="team-item-description">
                        <h3>
                            Jinney Odrey
                        </h3>
                        <p class="team-job">
                            <span class="highlight">Cofounder, CEO</span>
                        </p>
                        <p>Namliber tempor cum soluta nobis eleifend option.</p>

                        <p class="social-icons">
                            <a class="socialico-facebook" href="#" title="Facebook" data-toggle="tooltip">#</a>
                            <a class="socialico-twitter" href="#" title="Twitter" data-toggle="tooltip">#</a>
                            <a class="socialico-google" href="#" title="Google" data-toggle="tooltip">#</a>
                        </p>
                    </div>
                    
                </div>
                
            </div>
        </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center topmargin40">
                        <a href="about.html" class="theme_button">About Us Page</a>
                    </div>
                </div>
                
            </div>

    </div>
</section>

<section class="grey_section bg_image action_section" id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="pullUp">
                <h2 class="section_header small"><strong>Newsletter</strong> Signup</h2>
                <div class="widget widget_mailchimp">
                        <form id="signup" action="/" method="get" class="form-inline">
                            <div class="form-group">
                                <input name="email" id="mailchimp_email" type="email" class="form-control" placeholder="your@email.com">
                            </div>
                            <button type="submit" class="theme_button">Send</button>
                            <div id="response"></div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</section>


<section id="about" class="light_section">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-4">

                <h2 class="module-header">What we do</h2>

                <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore:</p>

                <ul class="list1">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Sint animi non ut sed</li>
                    <li>Eaque blanditiis nemo</li>
                    <li>Amet, consectetur adipisicing</li>
                    <li>Blanditiis nemo quaerat</li>
                </ul>

                
            </div>

            <div class="col-sm-4">
                    
                    <h2 class="module-header">Our Skills</h2>
                    <p class="grey">WordPress</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span>90%</span>
                        </div>
                    </div>
                    
                    <p class="grey">HTML</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span>100%</span>
                        </div>
                    </div>
                    
                    <p class="grey">CSS</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            <span>75%</span>
                        </div>
                    </div>

                    <p class="grey">Photoshop</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                            <span>95%</span>
                        </div>
                    </div>
               
            </div>
            <div class="col-sm-4">
                
                <h2 class="module-header">What We Do</h2>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Web Design
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium amet ea dicta neque, ut quis omnis quos nam, pariatur, minus, fugit suscipit aspernatur sint ullam quas explicabo. Alias, officiis, dolor!
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
                                    Photography
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facere doloremque ut dolores laudantium nihil at, repudiandae est numquam fuga tempora totam sequi quidem saepe officiis sint beatae, magni fugit.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
                                    3D Modeling
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nobis omnis delectus, asperiores quo obcaecati et iste corporis necessitatibus tempora aspernatur doloribus. Ut deleniti commodi dicta distinctio sit enim quidem!
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            
        </div>
    </div>
</section>


<section id="contact" class="dark_section parallax">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center to_animate" data-animation="expandOpen">
                <h3>
                    <a href="mailto:info@meriadapro.com">INFO@MERIADAPRO.COM</a>
                </h3>
                <h2 class="section_header big">
                    <span class="highlight">
                        <strong>8 (800) 695-2684</strong>
                    </span>
                </h2>
                <p>
                    4321 Your Address, Country
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-push-3 to_animate">
                <form class="contact-form" method="post" action="/">
                    <p class="contact-form-name">
                        <label for="name">Full Name <span class="required">*</span></label>
                        <input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control text-center" placeholder="Name">
                    </p>
                    <p class="contact-form-email">
                        <label for="email">Email address<span class="required">*</span></label>
                        <input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control text-center" placeholder="Email">
                    </p>
                    <p class="contact-form-message">
                        <label for="message">Message</label>
                        <textarea aria-required="true" rows="8" cols="45" name="message" id="message" class="form-control text-center" placeholder="Message"></textarea>
                    </p>
                    <p class="contact-form-submit text-center topmargin40">
                        <button type="reset" class="theme_button inverse">Clear Fields</button>
                        <button type="submit" id="contact_form_submit" name="contact_submit" class="theme_button"> Send Message</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>


<section id="pages" class="light_section bottom_section">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-sm-4">

                    <div class="teaser teaser_icon to_animate" data-animation="fadeInDown">
                        <i class="rt-icon-diamond2"></i>
                        <h4>
                            <a href="#"><strong>About</strong> Company</a>
                        </h4>
                        <p>Meet our team and read latest news & events</p>
                        <p class="teaser_button">
                            <a href="about.html" class="theme_button"> About Us Page</a>
                        </p>
                    </div>


                </div>

                <div class="col-sm-4">

                    <div class="teaser teaser_icon to_animate" data-animation="fadeInDown">
                        <i class="rt-icon-camera2"></i>
                        <h4>
                            <a href="#"><strong>Our</strong> Gallery</a>
                        </h4>
                        <p>Check out our portfolio and photos</p>
                        <p class="teaser_button">
                            <a href="gellery.html" class="theme_button"> Gallery Page</a>
                        </p>
                    </div>


                </div>

                <div class="col-sm-4">

                    <div class="teaser teaser_icon to_animate" data-animation="fadeInDown">
                        <i class="rt-icon-tag2"></i>
                        <h4>
                            <a href="#"><strong>Blog</strong> Page</a>
                        </h4>
                        <p>Read our recent posts and check archive</p>
                        <p class="teaser_button">
                            <a href="blog-right.html" class="theme_button">Blog Page</a>
                        </p>
                    </div>


                </div>


            </div>

        </div>
    </section>

    <section id="copyright" class="grey_section bg_image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center to_animate">
                        <a href="./" class="logo bottom_logo">
                            <img src="/assets/example/logo.png" alt="">
                            <strong>Meriada</strong>Pro
                        </a>
                    <p>Copyright &copy; 2014 
                        by <a href="http://modernwebtemplates.com">MWTemplates</a></p>
                </div>
                               
            </div>
        </div>
    </section>
 

</div><!-- eof #box_wrapper -->

<div class="preloader">
    <div class="preloader_image"></div>
</div>


        <!-- libraries -->
        <script src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/jquery.appear.js"></script>

        <!-- superfish menu  -->
        <script src="/assets/js/vendor/jquery.hoverIntent.js"></script>
        <script src="/assets/js/vendor/superfish.js"></script>
        
        <!-- page scrolling -->
        <script src="/assets/js/vendor/jquery.easing.1.3.js"></script>
        <script src="/assets/js/vendor/jquery.ui.totop.js"></script>
        <script src="/assets/js/vendor/jquery.localscroll-min.js"></script>
        <script src="/assets/js/vendor/jquery.scrollTo-min.js"></script>
        <script src='/assets/js/vendor/jquery.parallax-1.1.3.js'></script>

        <!-- widgets -->a
        <script src="/assets/js/vendor/jquery.easypiechart.min.js"></script><!-- pie charts -->
        <script src='/assets/js/vendor/jquery.countTo.js'></script><!-- digits counting -->
        <script src="/assets/js/vendor/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
        <script src='/assets/js/vendor/jquery.plugin.min.js'></script><!-- plugin creator for comingsoon counter -->
        <script src='/assets/js/vendor/jquery.countdown.js'></script><!-- coming soon counter -->        
        <script src='/assets/js/vendor/jflickrfeed.min.js'></script><!-- flickr -->
        <script src='/assets/twitter/jquery.tweet.min.js'></script><!-- twitter -->

        <!-- sliders, filters, carousels -->
        <script src="/assets/js/vendor/jquery.isotope.min.js"></script>
        <script src='/assets/js/vendor/owl.carousel.min.js'></script>
        <script src='/assets/js/vendor/jquery.flexslider-min.js'></script>

        <!-- custom scripts -->
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>