<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="/assets/css/animations.css">
    <link rel="stylesheet" href="/assets/css/fonts.css">
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>

    <!--[if lt IE 9]>
        <script src="/assets/js/vendor/html5shiv.min.js"></script>
        <script src="/assets/js/vendor/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--[if lt IE 9]>
        <div class="bg-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
    <![endif]-->

<div id="box_wrapper">

    <section id="topline" class="table_section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a href="./" class="logo top_logo">
                        <img src="/assets/example/logo.png" alt="">
                        <strong>Meriada</strong>Pro
                    </a>
                </div>

                <div class="col-sm-6">
                    <p id="social" class="text-sm-right">
                        <a class="socialico-facebook" href="#" title="Facebook">#</a><a class="socialico-twitter" href="#" title="Twitter">#</a><a class="socialico-google" href="#" title="Google">#</a><a class="socialico-linkedin" href="#" title="LinkedIn">#</a><a class="socialico-dribble" href="#" title="Dribble">#</a>
                    </p>
                </div>
                    
                
            </div>
        </div>
    </section>

    <section id="mainslider" class="darkgrey_section action_section">
        <div class="flexslider">
            
        </div>
    </section>

    <header id="header" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav id="mainmenu_wrapper">
                        <ul id="mainmenu" class="nav sf-menu">
                            <li class="active">
                                <a href="#box_wrapper"> 이슈하나 </a>
                            </li>
                            <li>
                                <a href="#folio"> 이슈두울</a>
                            </li>
                            <li>
                                <a href="#blog"> 이슈세엣 </a>
                            </li>
                            <li>
                                <a href="#features"> 이슈네엣 </a>
                            </li>
                            
                            <li>
                                <a href="about.html"> 이슈다섯 </a>
                            </li>
                            <li>
                                <a href="#contact"> 이슈여섯 </a>
                            </li>
                        </ul>  
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- header toggler -->    
    <!-- <span id="toggle_menu"><span></span></span> -->

</div><!-- eof #box_wrapper -->


<!-- 프로필 -->
<!-- 프로필 헤더 -->
<div class="row">
    <div class="col-sm-12 to_animate" data-animation="fadeInLeft">
        <div class="team-item right-side-item">
            <div class="team-item-image">
                <img class="profile_minion" src="assets/ksk/minion.png" alt="">
            </div>
            <div class="team-item-description">
                <p class="profile_user_info">
                    <span class="profile_user_name"> 김슬기 </span>
                    <a href="#" class="theme_button edit_button"> 편집 </a>
                    </br>
                    <span class="highlight"> 토픽 : 0 &nbsp;|&nbsp; 의견 : 0 &nbsp;|&nbsp; 댓글 : 0</span>
                </p>
                <p> 안녕하세요. 김슬기의 스탠스입니다. </p>
            </div>
        </div>
    </div>
</div>
<!-- 프로필 헤더 끝-->

<!-- 프로필 탭-->
    <!-- Nav tabs -->
    <div id="profile_container">
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="active"><a href="#tab1" role="tab" data-toggle="tab"> 나의 토픽 </a></li>
            <li><a href="#tab2" role="tab" data-toggle="tab"> 나의 의견 </a></li>
            <li><a href="#tab3" role="tab" data-toggle="tab"> 나의 댓글 </a></li>
            <li><a href="#tab4" role="tab" data-toggle="tab"> 팔로우 </a></li>
            <li><a href="#tab5" role="tab" data-toggle="tab"> 북마크 </a></li>
            <li><a href="#tab6" role="tab" data-toggle="tab"> 알림 </a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="each_content tab-pane fade in active" id="tab1">
            나의 토픽
        </div>
        <div class="each_content tab-pane fade" id="tab2">
            나의 의견
        </div>
        <div class="each_content tab-pane fade" id="tab3">
            나의 댓글
        </div>
        <div class="each_content tab-pane fade" id="tab4">
            팔로우
        </div>
        <div class="each_content tab-pane fade" id="tab5">
            북마크
        </div>
        <div class="each_content tab-pane fade" id="tab6">
            알림
        </div>
    </div>
<!-- 프로필 탭 끝-->

<div class="preloader">
    <div class="preloader_image"></div>
</div>


        <!-- libraries -->
        <script src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/jquery.appear.js"></script>

        <!-- superfish menu  -->
        <script src="/assets/js/vendor/jquery.hoverIntent.js"></script>
        <script src="/assets/js/vendor/superfish.js"></script>
        
        <!-- page scrolling -->
        <script src="/assets/js/vendor/jquery.easing.1.3.js"></script>
        <script src="/assets/js/vendor/jquery.ui.totop.js"></script>
        <script src="/assets/js/vendor/jquery.localscroll-min.js"></script>
        <script src="/assets/js/vendor/jquery.scrollTo-min.js"></script>
        <script src='/assets/js/vendor/jquery.parallax-1.1.3.js'></script>

        <!-- widgets -->
        <script src="/assets/js/vendor/jquery.easypiechart.min.js"></script><!-- pie charts -->
        <script src='/assets/js/vendor/jquery.countTo.js'></script><!-- digits counting -->
        <script src="/assets/js/vendor/jquery.prettyPhoto.js"></script><!-- lightbox photos -->
        <script src='/assets/js/vendor/jquery.plugin.min.js'></script><!-- plugin creator for comingsoon counter -->
        <script src='/<as></as>sets/js/vendor/jquery.countdown.js'></script><!-- coming soon counter -->        
        <script src='/assets/js/vendor/jflickrfeed.min.js'></script><!-- flickr -->
        <script src='/assets/twitter/jquery.tweet.min.js'></script><!-- twitter -->

        <!-- sliders, filters, carousels -->
        <script src="/assets/js/vendor/jquery.isotope.min.js"></script>
        <script src='/assets/js/vendor/owl.carousel.min.js'></script>
        <script src='/assets/js/vendor/jquery.flexslider-min.js'></script>

        <!-- custom scripts -->
        <script src="/assets/js/plugins.js"></script>
        <script src="/assets/js/main.js"></script>

    </body>
</html>